/* Ask.css */

.ask-body{
    background-color: #ccc;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#messages {
    flex: 1;
    overflow-y: scroll;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    background-color: #27ae60;
}

.message {
    text-align: center;
    clear: both;
}

.sent {
    background-color: #3498db;
    color: #fff;
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    max-width: 70%;
    align-self: flex-end;
    float: right;
}

.received {
    background-color: #ecf0f1;
    color: #333;
    padding: 8px;
    margin: 5px;
    border-radius: 8px;
    max-width: 70%;
    float: left;
}

#chat-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f2f2f2;
}

#chat-input input[type="file"] {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 0;
}

#chat-input input[type="text"] {
    flex: 2;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 0;
}

#chat-input button {
    flex: 0.5;
    background-color: #2ecc71;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 0;

}

#chat-input button:hover {
    background-color: #27ae60;
}

#file-inp{
    display: none;
}

#file-input{
    background-color: #2ecc71;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 0;
    margin-right: 10px;
}

#file-input:hover {
    background-color: #27ae60;
}

#file-label{
    flex: 0.5;
    background-color: #2ecc71;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 0;
}
/* Ensure the main container covers the full viewport height */
main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Add any other styles to main as needed */
.dragging {
    background-color: #f0f0f0;
    border: 2px dashed #000;
    opacity: 0.5;
}
.dragging-alert{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 100;
}
.dragging-alert h1{
    color: #fff;
    text-align: center;
    margin-top: 40vh;
}
.non-dragging-alert{
    display: none;
}